spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/demo
    username: admin
    password: 123456
  jpa:
    hibernate:
      ddl-auto: create-drop
    show-sql: true
  mail:
    host: smtp.gmail.com
    port: 587
    username: ${EMAIL}
    password: ${APP_PASS}
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true
security:
  jwt:
    secret-key: ${SECRET_KEY}
    expiration-ms:
      access: 20000
      refresh: 60000

client:
  url: http://localhost:3000